<div class="page">
    <div class="container" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="login-card" id="login-card">                
            <mat-card-content>
                <mat-tab-group>
                    <mat-tab label="Login">
                        <div class="card-content-tab">
                            <app-loginapp></app-loginapp>
                        </div>
                    </mat-tab>
                    <mat-tab label="Register">
                        <div class="card-content-tab">
                            <app-register></app-register>
                        </div>
                    </mat-tab>
                </mat-tab-group>
                <mat-divider class="divider"></mat-divider>             
                <div class="card-footer" fxLayout="row" fxLayoutAlign="center center">
                    2019 - Pyxis
                </div> 
            </mat-card-content>
        </mat-card>
    </div>    
</div>
